.btnVerde{
    -fx-background-color: #009951;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-text-fill: #fcfcfc;
    -fx-cursor: hand;
}
.btnVerde:hover{
    -fx-background-color: #00B85C;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}
.btnVerde:pressed{
    -fx-background-color: #007F45;
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}
.btnAzul{
    -fx-background-color: #1976D2;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-text-fill: #fcfcfc;
    -fx-cursor: hand;
}
.btnAzul:hover{
    -fx-background-color: #2196F3;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}
.btnAzul:pressed{
    -fx-background-color: #0D47A1;
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}
.btnRojo{
    -fx-background-color: #D32F2F;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-text-fill: #fcfcfc;
    -fx-cursor: hand;
}
.btnRojo:hover{
    -fx-background-color: #F44336;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}
.btnRojo:pressed{
    -fx-background-color: #B71C1C;
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}