.contenedor{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 2);
    -fx-border-width: 0 0 0 4;
    -fx-border-radius: 10px;
}

.contenedorRedondeado {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 8, 0, 0, 2);
}


